{% extends "base.html.twig" %}
{% block title %}User dashboard {% endblock %}
{% block body %}
<h1>welcome</h1>

<p></p>


    welcome {{username}}
    </br>
    {%  for result in results %}
        <ul>
            <li> {{ result.user_email }}</li>
            <li>  {{ result.user_role_name }}</li>
            <li>{{ result.user_department_name }}</li>
            <li>{{ result.user_password }}</li>
        </ul>
    {%  endfor %}

    <form class="form" action="changepw" method="POST">
        <h2> Change password</h2>

        <div class="form-control input-sm">
            <label for="pwd1">Please enter new password</label>


        <input type="text" class="form-control" name="pwd1">
        <label for="pwd2">Please re-enter new password</label>
        <input type="text" class="form-control" name="pwd2">
            <button type="submit" class="btn btn-primary" name="Submit">Submit </button>
        </div>
    </form>


 {%  endblock %}

