{% extends "home.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
    <h1>Request Login for the Forza ERP</h1>

   <form class="form" action ="sendrequest" method="POST">

       <div class="form-control">

        <label>User Name</label>
       <input type="text" class="form-control input-sm" name="user_name" />
       <label>User email</label>
       <input type="text" class="form-control input-sm" name="user_email" />
       <label>User Department</label>
       <select class="form-control input-sm" name="user_department" />
           <option value="1">IT</option>
           <option value="2">Production</option>
           <option value="3">Logistics</option>
           <option value="4">Sales</option>
           <option value="5">Service Desk</option>
           <option value="6">Finance</option>

       </select>
           <button type="btn btn-success" name="submit">Submit</button>
       </div>






   </form>


    <ul>

    </ul>

{% endblock %}