{% extends "home.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
<h1>Forza Refurbished ERP</h1>

{{ "now"|date('F d, Y') }}
<p>Welcome to the Forza ERP</p>
<p>Please login to proceed.</p>
<> If you have recently joined and don't have a valid login, please<a href="home/getlogin"> email IT</a></p>



<ul>

</ul>

{% endblock %}
