{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
<h1>welcome</h1>

<p></p>

<ul>
    welcome {{username}}
</br>
    {%  for result in results %}
    <ul>
       <li> {{ result.user_email }}</li>
        <li>  {{ result.user_role_name }}</li>
        <li>{{ result.user_department_name }}</li>
    </ul>
    {%  endfor %}



{% endblock %}