{% extends "csbase.html.twig" %}

{% block title %} Service Desk {% endblock %}

{% block body %}


    <h1>RMA Check</h1>
    Check Warranty by IMEI
    <form class="form" action="checked" method="POST">

        <label>IMEI</label>
        <input name="imei" type="text" />
        <button class="btn btn-success" type="submit" name="submit">Submit</button>



    </form>

{% endblock %}