{% extends "csbase.html.twig" %}

{% block title %} Service Desk {% endblock %}

{% block body %}


    <h1>Rebuy Orders</h1>

    <table class="table table-striped table-bordered">
    <tr>
        <td>Order Id</td>
        <td>Order Date</td>
        <td>Device Model</td>
        <td>Customer Status</td>
        <td>Forza Status</td>
        <td>Action</td>


    </tr>
    {% for result in results %}

        <tr>
            <td>{{ result.order_id }}</td>
            <td>{{ result.order_date }}</td>
            <td>{{ result.device_model }}</td>
            <td>{{result.cust_status_name}}</td>
            <td>{{result.status_name}}</td>
            <td>{{result.action_name}} </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}