{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}


{% block title %} Close Orders {% endblock %}

{% block body %}

<h1>Close Orders</h1>

<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Order Date</td>
        <td>Device Model</td>
        <td>Customer Status</td>
        <td>Forza Status</td>
        <td>Action</td>

        <td>Close</td>



    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.order_date }}</td>
        <td>{{ result.device_model }}</td>
        <td>{{result.cust_status_name}}</td>
        <td>{{result.status_name}}</td>
        <td>{{result.next_action}} </td>

        <td><a href="{{result.order_id}}/closeorder">Close order</a></td>

    </tr>
    {% endfor %}
</table>

{% endblock %}