{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>The Offer has been sent</h1>
<a href="../status"><button class="btn btn-success">Return to Status Page</button></a>

{% endblock %}