{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Close order</h1>

<h4> Thank you for closing the order.</h4>
{% endblock %}