{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}
{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Recycle Device</h1>

 Thank you for letting us know you want us to recycle your device.
{% endblock %}
