{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Recycle orders {% endblock %}

{% block body %}

<h1>Recycle</h1>

<table class="table">
    <tr>
        <td>Order Id</td>
        <td>Order Date</td>
        <td>Device Model</td>
        <td>Customer Status</td>
        <td>Forza Status</td>
        <td>Action</td>





    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>
        <td>{{ result.order_date }}</td>
        <td>{{ result.device_model }}</td>
        <td>{{result.cust_status_name}}</td>
        <td>{{result.status_name}}</td>


        <td><a href="{{result.order_id}}/{{result.button_link}}"><button class="btn btn-success" name="actionbutton">{{result.button_text}}</button></a> </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}