{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Recycle orders {% endblock %}

{% block body %}

<h1>Recycle</h1>

<h3> Recycle device</h3>
<table class="table">
    <tr>
        <td>Order Id</td>

        <td>Device Model</td>

        <td>IMEI</td>
        <td>Action</td>





    </tr>
    {% for result in results %}

    <tr>
        <td>{{ result.order_id }}</td>

        <td>{{ result.device_model }}</td>

        <td>{{result.IMEI}}</td>


        <td><a href="{{result.button_link}}"><button class="btn btn-success" name="actionbutton">{{result.button_text}}</button></a> </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}