{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %}   Reports {% endblock %}


{% block body %}

<H1> Reports</H1>

<a href="/rebuy/latestorders">Latest Orders</a> <br /><br />
<a href="/rebuy/offers">Reports by Offer </a><br /><br />
<a href="">Reports by Shipping status</a><br /><br />
<a href="">Reports by Device type</a><br /><br />
<a href="">Reports by Grade</a><br /><br />
{% endblock %}