{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}
{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Return Device</h1>

Thank you for letting us know you want us to return your device.
{% endblock %}