{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Return Order</h1>
<h4> The device has been returned.</h4>

{% endblock %}