{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Thank you</h1>

<p> Thank you for accepting our offer.
    Your order has been sent for processing and will be paid within 7 days</p>

{% endblock %}