{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}
{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Send Mail </h1>
<h4>The Second Offer for this order has been sent.</h4>

<a href="../status"><button class="btn btn-success">Return to Status Page</button></a>

{% endblock %}