{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Make Payment</h1>
<h4> The payment request was sent to the Finance department</h4>

{% endblock %}