{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}

<h1>Service Desk</h1>

<navbar>
    <a href="/rebuy">Rebuy Index</a>|<a href="/rebuy/checkorders">Rebuy Check</a>|<a href="/rebuy/mail">Rebuy Mail</a>|<a href="/rebuy/edit">Rebuy Order Edit</a>|<a href="/rebuy/enterorder">Rebuy Test Orders</a>|
</navbar>

{% endblock %}