{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}



{% block body %}

<h3> Failcard Set</h3>

{% for result in results %}



<a href="{{result.button_link}}"><button class="btn btn-success" name="actionbutton">{{result.button_text}}</button></a>

{% endfor %}

{% endblock %}