{% extends "rebuybaselocal.html.twig" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy Submit {% endblock %}

{% block body %}
<h1>Quote Submit</h1>

<table class="table table-bordered table-striped">
    <thead>
    <th>Order Id</th>
    <th>Device Model</th>
    <th>Device Condition</th>
    <th>Quote</th>
    <th>Next Action</th>

    </thead>
    {% for result in results %}
    <tr>
        <td>{{result.order_id}}</td>
        <td>{{result.device_model}}</td>
        <td>{{result.condition_name}}</td>
        <td>{{result.order_quote}}</td>
        <td><a href="{{result.button_link}}"><button class="btn btn-success" name="actionbutton">{{result.button_text}}</button></a> </td>


    </tr>
{% endfor %}



</table>





{% endblock %}